body{font-family: 'Nunito', sans-serif;background:#FFFCF2; margin: 0px;}
h2{font-size:calc(1rem + 1.2vw);}
.fill{background:#FFCA38;color:inherit;}
.fill a{color:#000;}
.fill-color{background:#d8303b;color:#fff;}
.fill-color a{color:#fff;}
a{color:#d8303b; text-decoration: none; padding: 5px 8px;}
.outline-color{border-color:#d8303b;color:#d8303b;}
.clock,.home h1,.home h2,.home #tetornot,#featured,#fixed-bot{font-family:'Dancing Script',cursive;font-weight:700;text-align:center;}
.home #tetornot___________,#featured{font-size:calc(.9rem + 1.2vw);}
.home h1 {font-size:calc(.96rem + 1.9vw);margin-top:.7em;}
.home h2{font-size:calc(1.8rem + 3.6vw);margin-top:.3em;}
.home .main-article{margin:0;}
.home #main h2+p img:first-child{max-width:700px;}
.clock .num{font-size:calc(2rem + 3.6vw);}
.clock .num#days-2{font-size:calc(.5rem + 1.2vw);}
.clock .text{font-size:calc(.7rem + 1.7vw);}
#header{display:flex;align-items:center;justify-content:center;padding-top:.6em;padding-bottom:.6em;box-shadow:1px 1px 10px rgba(0,0,0,0.15);}
.logo img {width:calc(2.5vw + 25px);}
nav>a.button{padding:0 .9em;height:28px;font-size:.9em;}
nav>a,.share{margin-left:calc(2vw + 13px);}
#menu{padding:1em;}
#menu li{padding:.5em 0;border-bottom:1px solid #eee;font-weight:bold;}
button.hamburger{display:block;padding:0;order:-1;}
.hamburger>div {width:calc(1vw + 18px);height:3px;background:#d8303b;margin:calc(.3vw + 2px) 0;border-radius:100px;}

#main img{margin-left:calc(50% - 50vw);margin-right:calc(50% - 50vw);width:auto;max-width:calc(100% + 30px);}

.clock{display:flex;justify-content:space-around;flex-wrap:wrap;margin:1.5em .5em 0;}
.clock  .clock-item{width:35%;padding-bottom:35%;border-radius:30%;overflow:hidden;background:#FFDD7E;position:relative;}
.clock>*:nth-child(-n+2){margin-bottom:1em;}
.clock .clock-item>*{position:absolute;width:100%;display:flex;align-items:center;justify-content:center;}

.clock .num{top:0;height:72%;}
.clock .num#days-2{top:55%;height:17%;}
.clock .text{bottom:0;height:28%;background:#FFCA38;text-transform:uppercase;font-weight:400;}

.clock.tet .clock-item{background:#f6361e;color:#eee;}
.clock.tet .text{background:#d00120;}

.featured_{font-style:italic;text-transform:uppercase;font-size:.9em;}
.featured_:after{content:"HOT";margin-left:.5em;background:#ffdd7e;color:#000;line-height:1;padding:3px 5px 2px;border-radius:2px;font-size:.7em;font-weight:700;vertical-align:super;}

.share-bottom{text-align:center;margin-top:2em;}

figcaption{text-align:center;font-style:italic;margin-top:.6em;}

@media only screen and (min-width:991px){
.clock{margin-left:-3vw;margin-right:-3vw;}	
}
@media only screen and (min-width:760px) {
#header,#main,#footer{padding-left:calc(35vw - 250px);padding-right:calc(35vw - 250px);}
#main img{margin:0 auto;max-width:100%;}
#main img{margin-top:1.2em;}
}
@media only screen and (min-width:568px) {
.clock{justify-content:space-between;}
.clock .clock-item{width:22%;padding-bottom:22%;}
.clock .clock-item:nth-child(-n+2){margin-bottom:0;}	
}

#footer{text-align:center;padding-top:2em;padding-bottom:2em;}
#footer img{width:30%;max-width:160px;margin-left:auto;margin-right:auto;}
#footer a,#footer button{font-weight:bold;}
#footer a+a{margin-left:1vw;}
#footer>*+*{margin-top:.6em;}


#footer{padding-bottom:65px;}

#fixed-bot{position:fixed;bottom:0;left:0;right:0;width:100%;max-width:1000px;margin:0 auto;height:calc(8vw + 38px);display:flex;align-items:center;justify-content:center;;overflow:hidden;border:3px solid #fff;border-bottom-width:0;}
#fixed-bot img{width:70%;object-fit:cover;}
#fixed-bot .text{flex:1;font-size:calc(.7rem + 1.8vw);text-align:center;}
#fixed-bot .timer{position:absolute;top:0;left:0;background:#d8303b;border-radius:100px;color:#fff;width:1.4em;height:1.4em;line-height:1.4em;font-size:calc(1rem + 2.2vw);}
#fixed-bot button{display:block;height:auto;}

#a2hs>*{margin:.5em 0;}
#a2hs button{width:100%;}



.cal-week {display: flex;}
.cal-week:not(.head){height:70px;}
.cal-day{flex-grow:1;flex-shrink:1;flex-basis:0;position:relative;padding:2em 4px 2px 4px;font-size:.5625em;line-height:1.2;box-shadow:-1px -1px #ccc,inset -1px -1px 0 0 #ccc;overflow:hidden;}
.cal-week.head{background:#fff;}
.cal-week.head .cal-day{text-align:center;font-size:1.2em;font-weight:bold;padding:5px 0;color:#888;}
.cal-week:not(.head) .cal-day::before{content:attr(data-date);position:absolute;left:4px;top:2px;font-weight:bold;font-size:1.5em;}
.cal-week:not(.head) .cal-day::after{content:attr(data-lunar);position:absolute;right:4px;bottom:2px;font-size:1.1em;}
.cal-day .cal-lunar-year{position:absolute;right:4px;bottom:14px;font-size:.9em;text-align:right;}




.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}html[xmlns] .clearfix { display: block;}* html .clearfix{ height: 1%;}

#topbar{background-color:#000;padding:5px 0;}
.colorlight{text-shadow: 0 0 10px #efe81d,0 0 20px #efe81d,0 0 30px #efe81d,0 0 40px #f80f1f,0 0 70px #f80f1f,0 0 80px #f80f1f,0 0 100px #f80f1f,0 0 150px #f80f1f;}
.clock_ {float:left;overflow_:hidden;background-color:#fff;color:#222;border-radius: 30%;position:relative;width:20%;height:0;padding-bottom:20%;margin:3% 0 3% 4%;}
.clock____ .num {font-size:350%;font-weight:700;height_:190%;line-height:170%;}
.clock .num-small {font-size:100%;font-weight:700;}
.clock____ .text {font-size:130%;text-transform:uppercase;background-color:#eee;position:absolute;bottom:0;width:100%;line-height:180%;}

#taitro{margin-top:3.4em;}
.float{display:flex;align-items:center;}
.float {font-size:1.3em;}
@media (min-width:1025px) {.float{display:none;}}

.text-white {color: lightgoldenrodyellow !important;}
.text-gold {color: gold !important;}
.text-overline {text-decoration: overline;}
.text-linethrough {text-decoration: line-through;}
.text-underline {text-decoration: underline;}

#float-menu {
	width: 200px;
	height: 100%;
	position: absolute;
	top:  42px;
	left: 0px;
	background-color: lightgoldenrodyellow;
	transform: translateX(-100%);
	transition: transform ease-in-out 0.15s;
}
#float-menu.is-open {
	transform: translateX(0%);
}
#float-menu .close-btn {
	background-color: lightgoldenrodyellow;
	width: 22px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	position: absolute;
	top: -32px;
	right: 0px;
	border-radius: 4px 4px 0px 0px;
}

#float-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#float-menu ul li {
	width: 100%;
	padding: 10px 0px;
	transition: transform ease-in-out 0.5s;
}

#float-menu ul li:hover {
	background-color: red;
}
#float-menu ul li:hover  a {
	color: white !important;
}


